::ng-deep app-header {
    margin-top: 10px;
}

.title {
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}

/* start: styles for nav*/
ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.links ul>li {
    display: inline;
}

li > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.active a {
    font-weight: 800;
}
/* end: styles for nav*/
