.p-grid {
  display: flex;
  flex-wrap: wrap;
}

.p-col-3 {
  width: 25%;
  flex: 0 0 auto;
  padding: 0.5rem;
  img {
    width: 100%;
    cursor: pointer;
  }
}

.p-grid>.p-col, .p-grid>[class*=p-col] {
  box-sizing: border-box;
}
