.response-donki {
  background-color: #e4e5e7;
  border-radius: 5px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
  padding: 0;
  overflow: hidden;

  .donki-head {
    background-color: #636b6f;
    color: #ffffff;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 0;
      text-align: center;
    }
  }

  .donki-content {
    padding: 15px;

    p {
      margin: 0;
    }

    table th, table tr>td{
      text-align: center;
      border: 1px solid #ffffff;
    }
  }
}



